<h4 class="text-center">GESTIÓN DE SUBPROCESOS</h4>
<table class="table table-bordered table-striped table-condensed data-table-container" id="tabla-subproceso">
  <thead>
    <th>DESCRIPCIÓN</th>
    <% if (modSecurity.canEdit(curUrlDescripcion) || modSecurity.canDelete(curUrlDescripcion)) { %>
    <th class="text-center">OPERACIONES</th>
    <% } %>
  </thead>
</table>