<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= curSubProceso ? "ACTUALIZAR" : "REGISTRAR NUEVO" %> SUBPROCESO</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="descripcion-proceso" class="col-sm-5 control-label">CÓDIGO EXCEL DEL SUB-PROCESO *:</label>
                <div class="col-sm-7">
                  <input type="text" id="codProceso"  class="form-control" value="<%= (curSubProceso) ? curSubProceso.codProceso : '' %>">
                </div>
              </div>
              <div class="form-group">
                <label for="descripcion-subproceso" class="col-sm-5 control-label">DESCRIPCIÓN DEL SUBPROCESO *:</label>
                <div class="col-sm-7">
                  <input type="hidden" id="idProceso" value="<%= (curSubProceso) ? curSubProceso.idProceso : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-subproceso" cols="30" rows="3" placeholder="DESCRIPCIÓN DEL subproceso Ejm. Mina"><%= (curSubProceso) ? curSubProceso.descripcion : '' %></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" tabindex="-1" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="registrar-subproceso"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar subProceso</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
