<p><strong>KPI :</strong> <%= curCategoria.descripcionMetrica %></p>
<p><strong>Definición y/o Explicación :</strong> <%= curCategoria.definicionExplicacion%></p>
<p><strong>Fórmula :</strong> <%= (curCategoria && curCategoria.formula) ? curCategoria.formula : '(no especificado)' %></p>