<div class="row">
  <div class="col-sm-12"><h3 class="text-center">GESTIÓN DE CATEGORIAS <a class="label label-success" id="download-params">Descargar parámetros</a></h3></div>
</div>
<table class="table table-bordered table-striped table-condensed data-table-container" id="select-table-categoria">
  <thead>
    <th>DESCRIPCIÓN DE LA CATEGORIA</th>
    <th>ABREVIATURA</th>
    <th>SIGNIFICANCIAS</th>
    <% if (modSecurity.canEdit(curUrlDescripcion) || modSecurity.canDelete(curUrlDescripcion)) { %>
    <th class="text-center">OPERACIONES</th>
    <% } %>
  </thead>
</table>