<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= (curCategoria) ? "ACTUALIZAR" : "REGISTRAR NUEVA" %> CATEGORÍA</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="categoria-descripcion" class="col-sm-3 control-label">DESCRIPCIÓN DE ESTA CATEGORÍA *:</label>
                <div class="col-sm-9">
                  <input type="hidden" id="id-categoria" value="<%= (curCategoria) ? curCategoria.idCategoria : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="categoria-descripcion" cols="30" rows="4" maxlength="255" placeholder="Ejm.Liderazgo y Rentabilidad" maxlength="100"><%= (curCategoria) ? curCategoria.descripcionCategoria : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="categoria-abreviatura" class="col-sm-3 control-label">ABREVIATURA DE ESTA CATEGORÍA *:</label>
                <div class="col-sm-9">
                  <input type="text" id="categoria-abreviatura" class="form-control text-uppercase" value="<%= (curCategoria) ? curCategoria.abreviaturaCategoria : '' %>" placeholder="ejm. LNP" maxlength="10">
                </div>
              </div>
              <fieldset>
                <legend>PESOS (Significancias)</legend>
                <div class="form-group subcategorias">
                  <% _.each(subcategorias, function(categoria) { %>
                  <div class="<%= categoria.clase %>">
                    <div class="form-group">
                      <label for="categoria-<%= (curCategoria && curCategoria.subcategorias) ? _.find(curCategoria.subcategorias, function(subcategoria) { return subcategoria.significancia == categoria.significancia}).idCategoria : categoria.uniqueID %>" class="col-sm-12 text-center"><%= categoria.significancia %> *:</label>
                      <div class="col-sm-12">
                        <%  %>
                        <input type="number" style="text-align:right" min="0" id="categoria-<%= (curCategoria && curCategoria.subcategorias) ? _.find(curCategoria.subcategorias, function(subcategoria) { return subcategoria.significancia == categoria.significancia}).idCategoria : categoria.uniqueID %>" class="form-control" value="<%= (curCategoria && curCategoria.subcategorias) ? _.find(curCategoria.subcategorias, function(subcategoria) { return subcategoria.significancia == categoria.significancia}).peso : '' %>" placeholder="<%= categoria.placeholder %>" data-categoria-id="<%= (curCategoria && curCategoria.subcategorias) ? _.find(curCategoria.subcategorias, function(subcategoria) { return subcategoria.significancia == categoria.significancia}).idCategoria : categoria.uniqueID %>" data-significancia="<%= categoria.significancia %>">
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <img id="categoria-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-categoria"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar Categoría</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
