/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
}
.tag .remove {
  vertical-align: bottom;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #C51230;
  margin-bottom: 2px;
}