<h3 class="text-center">SISTEMA DE SEGUIMIENTO Y CONTROL DEL PLAN ESTRATÉGICO</h3>
<h4 class="text-center">AÑO <%= curyear %></h4>
<p class="text-center">elija las operaciones desde el menú de opciones superior</p>
<p class="text-center"><img src="images/pestrategico.png" class="imagen-fondo" alt=""></p>