<ul class="nav navbar-nav" id="menuContainer">
  <li id="menu-gestion" class="dropdown">
    <a href="#gestion" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GESTIÓN <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li class="divider"></li>
      <li class="dropdown-header">GESTIÓN DE PARÁMETROS</li>
      <% if (modSecurity.canView('#manage-levels')) { %>
      <li><a href="#manage-levels"><i class="fa fa-bell-o"></i> Niveles</a></li>
      <%} %>
      <li><a href="#manage-unidad-medida"><i class="fa fa-bell-o"></i> Unidades de medida</a></li>
      <li><a href="#manage-tipo-metrica"><i class="fa fa-bell-o"></i> Tipos de KPIs</a></li>
      <li><a href="#manage-metrica"><i class="fa fa-bell-o"></i> KPIs</a></li>
      <li><a href="#manage-categoria"><i class="fa fa-bell-o"></i> Categorías</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">JERARQUÍA / NIVELES ESTRATÉGICOS</li>
      <li><a href="#objetivos-estrategicos"><i class="fa fa-tasks"></i> 1.- Mostrar Obj. Estratégicos</a></li>
      <li><a href="#objetivos-clave"><i class="fa fa-tasks"></i> 2.- Mostrar Obj. Clave</a></li>
      <li><a href="#objetivos-especificos"><i class="fa fa-tasks"></i> 3.- Mostrar Obj. Específicos</a></li>
      <li><a href="#iniciativas"><i class="fa fa-tasks"></i> 4.- Iniciativas</a></li>
    </ul>
  </li>
  <li>
    <a href="#avance" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> AVANCES <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#control-iniciativas"><i class="fa fa-user"></i> CONTROL DE INICIATIVAS</a></li>
    </ul>
  </li>
  <li>
    <a href="#reportes" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">REPORTES <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#top10-superintendencias"><i class="fa fa-user"></i> TOP 10 SUPERINTENDENCIAS</a></li>
      <li><a href="#top10-gerencias"><i class="fa fa-calendar"></i> TOP 10 GERENCIAS</a></li>
      <li><a href="#top10-vicepresidencias"><i class="fa fa-calendar"></i> TOP 10 VICEPRESIDENCIAS</a></li>
    </ul>
  </li>

</ul>