<button class="btn btn-default remove-metricas"><span class="glyphicon glyphicon-remove"></span> eliminar KPIs seleccionados</button><img class="miloading" style="display:none;" src="css/img/loading.gif">