<div class="col-sm-2" style="width:100%">
  <% if (canedit) { %>
  <a href="" data-metrica-id="<%= idMetrica %>" title="editar" class="obj-edit"><i class="fa fa-pencil"></i> Editar</a>
  <% } %>
  <% if (candelete) { %>
  <a href="" data-metrica-id="<%= idMetrica %>" style="<%= canedit ? 'float:right' : '' %>" title="eliminar" class="obj-delete"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a>
  <% } %>
</div>