<table class="table table-bordered table-striped table-condensed data-table-container" id="datatable-kpis-bulk">
  <thead>
    <th></th>
    <th class="text-center">KPI</th>
    <th>UNIDAD DE MEDIDA</th>
    <th class="text-center">FÓRMULA</th>
    <th class="text-center">NIVEL</th>
  </thead>
</table>