<table class="table table-bordered table-striped table-condensed data-table-container" id="datatable-kpis">
  <thead>
    <th></th>
    <th class="text-center">KPI</th>
    <th>UNIDAD DE MEDIDA</th>
    <th class="text-center">FÓRMULA</th>
    <th class="text-center">NIVEL</th>
    <% if (isModal || modSecurity.canEdit(curUrlDescripcion) || modSecurity.canDelete(curUrlDescripcion)) { %>
      <th class="text-center">OPERACIONES</th>
    <% } %>
  </thead>
</table>