<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
      <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= !showBulk ? 'active' : ''%>"><a href="#gestion-kpis" id="gestion-kpis-tab" role="tab" data-toggle="tab" aria-controls="gestion-kpis" aria-expanded="<%= !showBulk ? 'true' : 'false'%>">Gestión de KPIs</a></li>
        <li role="presentation" class="<%= showBulk ? 'active' : ''%>"><a href="#bulk-operations" role="tab" id="bulk-tab" data-toggle="tab" aria-controls="bulk-operations" aria-expanded="<%= showBulk ? 'true' : 'false'%>">Bulk Operations</a></li>
      </ul>
</div>
<div id="myTabContent" class="tab-content">
  <div aria-labelledby="gestion-kpis-tab" id="gestion-kpis" class="tab-pane fade <%= !showBulk ? 'active in' : ''%>" role="tabpanel">
      <div class="row">
        <div class="col-sm-8"><h3>GESTIÓN DE KPIs</h3></div>
        <div class="col-sm-4"><h3><div id="fine-uploader-kpis"></div></h3></div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-horizontal">
          <div class="form-group">
            <label for="mostrar-kpis-por" class="col-sm-4 control-label">MOSTRAR KPIs:</label>
            <div class="col-sm-8">
              <select name="mostrar-kpis-por" id="mostrar-kpis-por" class="chosen-select">
                <option value="">TODOS</option>
                <option value="xproceso">POR PROCESO</option>
                <option value="xsubproceso">POR SUB PROCESO</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 form-horizontal" id="select-procesos-container">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 form-horizontal" id="select-subprocesos-container">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" id="kpis-container">
        </div>
      </div>
  </div>
  <div aria-labelledby="bulk-tab" id="bulk-operations" class="tab-pane fade <%= showBulk ? 'active in' : ''%>" role="tabpanel">
    <div class="row">
      <div class="col-sm-12" id="kpis-bulk-container" style="padding-top:20px">
      </div>
    </div>
  </div>
</div>