<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Cod KPI :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"><%= curMetrica.codKpi %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Nombre KPI :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"><%= curMetrica.descripcionMetrica %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Descripción / Definición :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= curMetrica.definicionExplicacion%></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Fórmula :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= (curMetrica && curMetrica.formula) ? curMetrica.formula : '(no especificado)' %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Nivel KPI :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= (curMetrica && curMetrica.nivelKpi) ? curMetrica.nivelKpi : '(no especificado)' %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>Observaciones :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= (curMetrica && curMetrica.observaciones) ? curMetrica.observaciones : 'NINGUNA' %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>PROCESO :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= (curMetrica && curMetrica.subProceso && curMetrica.subProceso.procesoParent) ? curMetrica.subProceso.procesoParent.descripcion : '(no especificado)' %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-3 control-label form-control-static text-right"><strong>SUB PROCESO :</strong></label>
  <div class="col-sm-9">
    <p class="form-control-static"> <%= (curMetrica && curMetrica.subProceso && curMetrica.subProceso.descripcion) ? curMetrica.subProceso.descripcion : '(no especificado)' %></p>
  </div>
</div>

