<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal2" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">SELECCIONAR UN KPI</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-condensed data-table-container" id="select-table-metrica" style="visibility:hidden">
              <thead>
                <th></th>
                <th>DESCRIPCIÓN DE LA KPI</th>
                <th>UNIDAD DE MEDIDA</th>
                <th>FÓRMULA</th>
                <th>TIPO DE KPI</th>
                <th class="text-center">OPERACIONES</th>
              </thead>
            </table>
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->