<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= (curMetrica) ? "ACTUALIZAR" : "REGISTRAR NUEVO" %> KPI</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="select-unidad-medida" class="col-sm-4 control-label">SELECCIONE LA UNIDAD DE MEDIDA DE ESTE KPI *:</label>
                    <div class="col-sm-8">
                      <input type="hidden" id="id-metrica" value="<%= (curMetrica) ? curMetrica.idMetrica : '' %>">
                      <select class="chosen-select" id="select-unidad-medida">
                        <option></option>
                      <% _.each(unidadesMedida, function(unidadMedida) { %>
                        <option value="<%= unidadMedida.get('idUnidadMedida') %>" <%= (curMetrica && curMetrica.unidadMedida && curMetrica.unidadMedida.idUnidadMedida == unidadMedida.get('idUnidadMedida')) ? "selected" : "" %> ><%= unidadMedida.get('mostrarUnidadAbrev') %></option>
                      <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="select-tipo-metrica" class="col-sm-4 control-label">SELECCIONE EL TIPO DE KPI *:</label>
                    <div class="col-sm-8">
                      <select class="chosen-select" id="select-tipo-metrica">
                        <option></option>
                      <% _.each(tipoMetricas, function(tipoMetrica) { %>
                        <option value="<%= tipoMetrica.get('idTipoMetrica') %>" <%= (curMetrica && curMetrica.tipoMetrica && curMetrica.tipoMetrica.idTipoMetrica == tipoMetrica.get('idTipoMetrica')) ? "selected" : "" %> ><%= tipoMetrica.get('descripcionTipoMetrica') %></option>
                      <% }) %>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="select-proceso" class="col-sm-4 control-label">PROCESO *:</label>
                    <div class="col-sm-8">
                      <select class="chosen-select" id="select-proceso">
                        <option value=""></option>
                        <% _.each(procesos, function(proceso) { %>
                          <option value="<%= proceso.idProceso %>" <%= (curMetrica && curMetrica.subProceso && _.contains(_.pluck(proceso.subprocesos, "idProceso"), curMetrica.subProceso.idProceso)) ? "selected" : "" %>><%= proceso.descripcion %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="select-subproceso" class="col-sm-4 control-label">SUB PROCESO *:</label>
                    <div class="col-sm-8" id="subprocesos-container">
                      <%= html_select_subprocesos %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="descripcion-metrica" class="col-sm-3 control-label">DESCRIPCIÓN DE ESTE KPI *:</label>
                <div class="col-sm-9">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-metrica" cols="30" rows="4" maxlength="500" style="text-transform:none" placeholder="DESCRIPCIÓN DEL KPI Ejm.
Percentage of program participants that enroll in college"><%= (curMetrica) ? curMetrica.descripcionMetrica : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="definicion-explicacion" class="col-sm-3 control-label">DEFINICIÓN Y/O EXPLICACIÓN DE ESTE KPI *:</label>
                <div class="col-sm-9">
                  <textarea name="" class="form-control text-uppercase" id="definicion-explicacion" cols="30" rows="9" maxlength="1000" style="text-transform:none" placeholder="DEFINICIÓN / EXPLICACIÓN DEL KPI VA AQUÍ Ejm.
The program's central purpose is to serve students at high-poverty middle and high schools and prepare them for high school completion and, ultimately, college enrollment. This measure captures the effectiveness of six years of program services and is ultimately the critical measure of the effectiveness of GEAR UP funding. Increasing college entrance rates for low-income students is a key strategic goal for the Department of Education. (ED)."><%= (curMetrica) ? curMetrica.definicionExplicacion : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="formula-metrica" class="col-sm-3 control-label">FÓRMULA DE ESTE KPI *:</label>
                <div class="col-sm-9">
                  <textarea name="" class="form-control text-uppercase" id="formula-metrica" cols="30" rows="4" maxlength="500" style="text-transform:none" placeholder="FÓRMULA DEL KPI Ejm.
Nro. De Lecciones Con tiempo Perdido x 1000000 / Total Trabajadas"><%= (curMetrica) ? curMetrica.formula : '' %></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <img id="kpi-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-metrica"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar KPI</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
