<select class="chosen-select" id="select-subproceso">
  <% if (!pickFirst) { %>
     <option value=""></option>
   <%} %>
  <% _.each(subprocesos, function(subproceso) { %>
    <option value="<%= subproceso.idProceso %>" <%= (curMetrica && curMetrica.subProceso && curMetrica.subProceso.idProceso == subproceso.idProceso) ? "selected" : "" %>><%= subproceso.descripcion %></option>
  <% }) %>
</select>