<h3 class="text-center">GESTIÓN DE UNIDADES DE MEDIDA</h3>
<table class="table table-bordered table-striped table-condensed data-table-container">
  <thead>
    <th>DESCRIPCIÓN</th>
    <th class="text-center">ABREVIATURA</th>
    <% if (modSecurity.canEdit(curUrlDescripcion) || modSecurity.canDelete(curUrlDescripcion)) { %>
    <th class="text-center">OPERACIONES</th>
    <% } %>
  </thead>
</table>