<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= curUnidadMedida ? "ACTUALIZAR" : "REGISTRAR NUEVA" %> UNIDAD DE MEDIDA</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="descripcion-unidad-medida" class="col-sm-5 control-label">DESCRIPCIÓN DE LA UNIDAD DE MEDIDA *:</label>
                <div class="col-sm-7">
                  <input type="hidden" id="id-unidad-medida" value="<%= (curUnidadMedida) ? curUnidadMedida.idUnidadMedida : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-unidad-medida" cols="30" rows="3" style="text-transform:none" placeholder="DESCRIPCIÓN DE LA UNIDAD DE MEDIDA Ejm. Metros"><%= (curUnidadMedida) ? curUnidadMedida.unidad : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="abreviatura" class="col-sm-5 control-label">ABREVIATURA:</label>
                <div class="col-sm-7">
                  <input type="text" id="abreviatura"  class="form-control" value="<%= (curUnidadMedida && curUnidadMedida.abreviatura) ? curUnidadMedida.abreviatura : '' %>">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <img id="unidad-medida-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-unidad-medida"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar Unidad de Medida</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
