<div class="form-group">
  <label for="select-subproceso" class="col-sm-4 control-label">SUBPROCESO DE:</label>
  <div class="col-sm-8">
    <select name="select-subproceso" id="select-subproceso" class="chosen-select" data-placeholder="seleccione un subproceso">
      <option value=""></option>
      <% if (byProceso) { %>
      <option value="mostrar_todas_sup">DE TODOS LOS SUBPROCESOS</option>
      <% } %>
      <% _.each(subprocesos, function(subproceso) { %>
        <option value="<%= subproceso.idProceso %>"><%= subproceso.descripcion %></option>
      <% }) %>
    </select>
  </div>
</div>