<div class="form-group">
  <label for="select-proceso" class="col-sm-4 control-label">PROCESO DE:</label>
  <div class="col-sm-8">
    <select name="select-proceso" id="select-proceso" class="chosen-select" data-placeholder="seleccione una proceso">
      <option value=""></option>
      <% _.each(procesos, function(proceso) { %>
        <option value="<%= proceso.idProceso %>"><%= proceso.descripcion %></option>
      <% }) %>
    </select>
  </div>
</div>