<div class="col-sm-2" style="width:100%">
   <span class="<%= (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion)) ? 'pull-left' : '' %>">
    <a href="" data-nivel="<%= nivel %>" data-item-estrategico-id="<%= idItemEstrategico %>" title="Ver / Añadir Objetivos Clave" class="obj-go"><i class="fa fa-search"></i> ver / Añadir O.C </a>
  </span>
  <span class="<%= (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion)) ? 'pull-right' : 'espacio-op-item-est' %>">
    <% if (modSecurity.canEdit(curUrlDescripcion)) { %>
    <a href="" data-item-estrategico-id="<%= idItemEstrategico %>" title="editar" class="obj-edit"><i class="fa fa-pencil"></i> Editar</a>
    <% } %>
    <% if (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion)) { %> | <% } %>
    <% if (modSecurity.canDelete(curUrlDescripcion)) { %>
    <a href="" data-item-estrategico-id="<%= idItemEstrategico %>" title="eliminar" class="obj-delete"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a>
    <% } %>
  </span>
</div>