<table class="table table-bordered table-striped table-condensed data-table-container">
  <thead>
    <th class="text-center">NIVEL</th>
    <th>DESCRIPCIÓN DEL EJE ESTRATÉGICO</th>
    <th class="text-center">DEPENDENCIA</th>
    <th class="text-center">OPERACIONES</th>
  </thead>
</table>