<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:70%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"> <%= (curItem) ? 'ACTUALIZAR' : 'REGISTRAR NUEVO' %> OBJETIVO ESTRATÉGICO</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">PERTENECE A :</label>
                <div class="col-sm-8">
                  <p class="form-control-static">CORPORACIÓN MMG</p>
                </div>
              </div>
              <div class="form-group">
                <label for="nombre-plan" class="col-sm-4 control-label">DESCRIPCIÓN DEL OBJ. ESTRATÉGICO *:</label>
                <div class="col-sm-8">
                  <input type="hidden" id="idItemEstrategico" value="<%= (curItem) ? curItem.idItemEstrategico : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-oestrategico" cols="30" rows="3" placeholder="DESCRIPCIÓN DEL OBJETIVO ESTRATÉGICO"><%= (curItem) ? curItem.descripcionItem : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="select-categoria" class="col-sm-4 control-label">RESPONSABLE(S) *:</label>
                <div class="col-sm-8">
                   <p class="form-control-static"><a href="#" id="add-responsable">Añadir responsable</a></p>
                </div>
              </div>
              <div class="form-group">
                  <div class="responsables">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <img id="item-estrategico-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-oestrategico"><small><span class="glyphicon glyphicon-ok"></span></small> <%= (curItem) ? 'Actualizar' : 'Registrar' %> Obj. Estratégico</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
