<div class="row">
  <div class="col-sm-12 text-center"><h3><%= modSecurity.canCreate(curUrlDescripcion) ? 'ASIGNACIÓN DE ROLES' : 'ROLES DE USUARIOS' %></h3></div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-12"><h6><strong>EMPLEADOS</strong></h6></div>
      </div>
      <select class="chosen-select" id="select-empleado">
          <option></option>
        <% _.each(pempleados, function(pempleado) { %>
          <option value="<%= pempleado.idEmpleado %>"><%= pempleado.nombreParaMostrar %></option>
        <% }) %>
      </select>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-12"><h6><strong>ROLES</strong></h6></div>
    </div>
    <div id="roles-container">
      <% _.each(roles, function(rol) { %>
      <div class="row">
        <div class="col-sm-12 item-tick" data-panel="roles" id="<%= rol.idParametroDetalle %>"><%= rol.nombre %></div>
      </div>
      <% }) %>
    </div>
  </div>
  <% if (modSecurity.canCreate(curUrlDescripcion)) { %>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12"><button class="btn btn-default guardar-roles"><img id="roles-loading" style="display: none;" src="css/img/loading.gif">Guardar Asignaciones</button></div>
    </div>
  </div>
  <% } %>
</div>