<div class="row">
  <div class="col-sm-12 text-center"><h3><%= modSecurity.canCreate(curUrlDescripcion) ? 'GESTIÓN DE PERMISOS' : 'PERMISOS POR ROL' %></h3></div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <div class="row">
      <div class="col-sm-12"><h6><strong>ROLES</strong></h6></div>
    </div>
    <div id="roles-container"><% _.each(roles, function(rol) { %>
        <div class="row">
          <div class="col-sm-12 item-tick" data-panel="roles"  data-rol-id="<%= rol.idParametroDetalle %>"><%= rol.nombre %></div>
        </div>
        <% }) %></div>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-12"><h6><strong>VISTA</strong></h6></div>
    </div>
    <div id="vistas-container">
      <% _.each(vistas, function(vista) { %>
      <div class="row">
        <div class="col-sm-12 item-tick" data-panel="vistas" id="<%= vista.urlDescripcion.slice(1) %>"><%= vista.urlDescripcion %></div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-12"><h6><strong>PERMISOS</strong></h6></div>
    </div>
    <div id="permisos-container"><% _.each(permisos, function(permiso) { %>
        <div class="row">
          <div class="col-sm-12 item-tick" data-panel="permisos" data-permiso-id="<%= permiso.idParametroDetalle %>"><%= permiso.nombre %></div>
        </div>
        <% }) %></div>
  </div>
  <% if (modSecurity.canCreate(curUrlDescripcion)) { %>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default guardar-permisos"><img id="permisos-loading" style="display: none;" src="css/img/loading.gif">guardar permisos</button>
      </div>
    </div>
  </div>
  <% } %>

</div>
