<div class="row">
  <div class="col-sm-8 col-sm-offset-2"><h3><em>MI PERFIL</em> <a href="#" id="edit-profile"><i class="fa fa-edit"></i> editar info </a></h3></div>
  <div class="col-sm-2"><h3><a href="#" id="change-password"><i class="fa fa-lock"></i> cambiar contraseña </a></h3></div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-6">
          <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
                <img alt="" src="<%= parametros.empleado.uuidFoto ? 'uploadFoto/' + parametros.empleado.uuidFoto : 'images/male_placeholder.jpg' %>" id="imagen-perfil">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="#" onclick="return false;" id="nombre-para-mostrar"><%= parametros.empleado.nombreParaMostrar %></a>
                </div>
                <div class="desc"><%= parametros.empleado.rol.nombre %></div>
            </div>
            <div class="uploader-image-container" id="cambiar-cargar-imagen"></div>
        </div>
      </div>
      <div class="col-sm-6 form-horizontal">
            <div id="panel-perfil">
              <div class="form-group">
                <label for="mi-perfil" class="col-sm-4 control-label">ROL:</label>
                  <div class="col-sm-8"><p class="form-control-static"><%= parametros.empleado.rol.nombre %></p></div>
                </div>
                <div class="form-group">
                  <label for="nombres" class="col-sm-4 control-label">NOMBRES:</label>
                  <div class="col-sm-8"><p class="form-control-static edit-in-place" id="nombres"><%= parametros.empleado.nombres %></p><img class="saving nombres" src="css/img/loading.gif"></div>
                </div>
                <div class="form-group">
                  <label for="paterno" class="col-sm-4 control-label">APATERNO:</label>
                  <div class="col-sm-8"><p class="form-control-static edit-in-place" id="paterno"><%= parametros.empleado.paterno %></p><img class="saving paterno" src="css/img/loading.gif"></div>
                </div>
                <div class="form-group">
                  <label for="materno" class="col-sm-4 control-label">AMATERNO:</label>
                  <div class="col-sm-8"><p class="form-control-static edit-in-place" id="materno"><%= parametros.empleado.materno %></p><img class="saving materno" src="css/img/loading.gif"></div>
                </div>
                <div class="form-group">
                  <label for="correo" class="col-sm-4 control-label">EMAIL:</label>
                  <div class="col-sm-8"><p class="form-control-static edit-in-place" id="correo"><%= parametros.empleado.correo ? parametros.empleado.correo : '(por especificar)' %></p><img class="saving correo" src="css/img/loading.gif"></div>
                </div>
                <div class="form-group">
                  <label for="celular" class="col-sm-4 control-label">CELULAR:</label>
                  <div class="col-sm-8"><p class="form-control-static edit-in-place" id="celular"><%= parametros.empleado.celular ? parametros.empleado.celular : '(por especificar)' %></p><img class="saving celular" src="css/img/loading.gif"></div>
                </div>
          </div>
          <div id="panel-cambiar-clave" style="display:none">
            <div class="form-group">
                <label for="clave-antigua" class="col-sm-6 control-label">CONTRASEÑA ANTIGUA:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="clave-antigua" value="dfasdf">
                </div>
            </div>
            <div class="form-group">
              <label for="clave-nueva" class="col-sm-6 control-label">CONTRASEÑA NUEVA:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="clave-nueva" value="dfasdf">
                </div>
            </div>
            <div class="form-group">
                <label for="repite-clave-nueva" class="col-sm-6 control-label">REPITA LA NUEVA CONTRASEÑA:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="repite-clave-nueva" value="dfasdf">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-6">
                    <button type="submit" class="btn btn-default btn-change-password">CAMBIAR CONTRASEÑA</button>
                </div>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
