<div class="col-sm-2" style="width:100%">
  <span class="<%= (mine || (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion))) ? 'pull-left' : '' %>">
    <a href="" data-nivel="<%= nivel %>" data-item-estrategico-id="<%= idItemEstrategico %>" title="Ver / Añadir Iniciativas" class="obj-go"><i class="fa fa-search"></i> Ver / Añadir Iniciativas </a>
  </span>
  <span class="<%= (mine || (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion))) ? 'pull-right' : 'espacio-op-item-est' %>">
    <% if (mine || modSecurity.canEdit(curUrlDescripcion)) { %>
    <a href="" data-item-estrategico-id="<%= idItemEstrategico %>" title="editar" class="obj-edit"><i class="fa fa-pencil"></i> Editar</a>
    <% } %>
    <% if (mine || (modSecurity.canEdit(curUrlDescripcion) && modSecurity.canDelete(curUrlDescripcion))) { %> | <% } %>
    <% if (mine || modSecurity.canDelete(curUrlDescripcion)) { %>
    <a href="" data-item-estrategico-id="<%= idItemEstrategico %>" style="float:right" title="eliminar" class="obj-delete"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a>
    <% } %>
  </span>
</div>