<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">REGISTRAR NUEVO PLAN ANUAL</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group" id="errores-event">
              </div>
              <div class="form-group">
                <label for="select-anio" class="col-sm-4 control-label">AÑO *:</label>
                <div class="col-sm-8">
                  <select class="chosen-select" id="select-anio">
                    <option></option>
                  <% _.each(years, function(year) { %>
                    <option <%= (year == (new Date()).getFullYear()) ? "selected" : "" %> ><%= year%></option>
                  <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="nombre-plan" class="col-sm-4 control-label">DESCRIPCIÓN / NOMBRE DEL PLAN ANUAL *:</label>
                <div class="col-sm-8">
                  <textarea name="" class="form-control text-uppercase" id="nombre-plan" cols="30" rows="3" placeholder="DESCRIPCIÓN DEL PLAN"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <button type="button" class="btn btn-primary" id="registrar-plan">Registrar Plan</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
