<div class="form-horizontal">
  <h4 class="text-center">SELECCIONAR PLAN ANUAL</h4>
  <div class="form-group">
    <label for="select-year" class="col-sm-4 control-label">AÑO</label>
    <div class="col-sm-8">
      <select class="chosen-select" id="select-year">
        <option></option>
      <% _.each(planes, function(plan) { %>
        <option <%= (plan.anio  == (new Date()).getFullYear()) ? "selected" : "" %> data-plan-id="<%= plan.idPlanEstrategico %>" ><%= plan.anio%></option>
      <% }) %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="nombre_plan" class="col-sm-4 control-label">DESC. PLAN</label>
    <div class="col-sm-8">
      <% if (planes.length == 0) { %>
      <p class="form-control-static" id="nombre_plan">(NINGUNO)</p>
      <% } else { %>
      <p class="form-control-static" id="nombre_plan">
      <% _.each(planes, function(plan) { %>
        <% if ((plan.anio == (new Date()).getFullYear())) { %>
          <%= plan.nombrePlan %>
          <% } %>
      <% }) %></p>
      <% } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button class="btn btn-primary col-sm-12 button-select-plan"><span class="glyphicon glyphicon-ok"></span> SELECCIONAR PLAN </button>
    </div>
  </div>
  <img class="miloading" style="display:none;position:absolute;top:0;right:0;" src="css/img/loading.gif">
  <div class="form-group" id="show-error-message">
  </div>
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <a href="" class="add-new-plan"><small>AÑADIR NUEVO PLAN ESTRATÉGICO</small></a>
    </div>
  </div>
</div>