<div class="col-sm-12 text-center">
  <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><small>SELECCIONE UN AÑO O CREE UN NUEVO PLAN</small></div>
</div>