<div class="form-group">
  <label for="select-superintendencia" class="col-sm-4 control-label">SUPERINTENDENCIA DE:</label>
  <div class="col-sm-8">
    <select name="select-superintendencia" id="select-superintendencia" class="chosen-select" data-placeholder="seleccione una superintendencia">
      <option value=""></option>
      <% if (byGerencia) { %>
      <option value="mostrar_todas_sup">DE TODAS LAS SUPERINTENDENCIAS</option>
      <% } %>
      <% _.each(superintendencias, function(superintendencia) { %>
        <option value="<%= superintendencia.idDependenciaOrganizacional %>"><%= superintendencia.descripcionDependencia %></option>
      <% }) %>
    </select>
  </div>
</div>