<div class="form-group">
  <label for="select-gerencia" class="col-sm-4 control-label">GERENCIA DE:</label>
  <div class="col-sm-8">
    <select name="select-gerencia" id="select-gerencia" class="chosen-select" data-placeholder="seleccione una gerencia">
      <option value=""></option>
      <% _.each(gerencias, function(gerencia) { %>
        <option value="<%= gerencia.idDependenciaOrganizacional %>"><%= gerencia.descripcionDependencia %></option>
      <% }) %>
    </select>
  </div>
</div>