<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= (curTipoMetrica) ? "ACTUALIZAR" : "REGISTRAR NUEVO" %> TIPO DE KPI</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="descripcion-tipo-metrica" class="col-sm-4 control-label">DESCRIPCIÓN DEL TIPO DE KPI *:</label>
                <div class="col-sm-8">
                  <input type="hidden" id="id-tipo-metrica" value="<%= (curTipoMetrica) ? curTipoMetrica.idTipoMetrica : '' %>">
                  <input type="text" id="descripcion-tipo-metrica"  class="form-control text-uppercase" value="<%= (curTipoMetrica) ? curTipoMetrica.descripcionTipoMetrica : '' %>">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <img id="tipo-kpi-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-metrica"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar Tipo de KPI</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
