<table class="table table-bordered table-striped table-condensed data-table-container">
  <thead>
    <th class="text-center">NIVEL</th>
    <th class="text-center">PERIODO</th>
    <th class="text-center">PLANEADO</th>
    <th class="text-center">REAL</th>
    <th class="text-center">AVANCE</th>
  </thead>
</table>