<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"> <%= (curItem) ? 'ACTUALIZAR' : 'REGISTRAR NUEVA' %> META</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert" style="margin:0">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <% _.each(items, function(item) { %>
              <div class="form-group">
                <label class="col-sm-5 control-label"><%= item.descripcionNivel.descripcionNivelSingular %></label>
                <div class="col-sm-7">
                  <p class="form-control-static"><%= item.descripcionItem %></p>
                </div>
              </div>
              <%}) %>
              <div class="form-group">
                <label for="nombre-plan" class="col-sm-5 control-label">DESCRIPCIÓN DE LA META *:</label>
                <div class="col-sm-7">
                  <input type="hidden" id="idItemEstrategico" value="<%= (curItem) ? curItem.idItemEstrategico : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-meta" cols="30" rows="3" placeholder="DESCRIPCIÓN DE LA META"><%= (curItem) ? curItem.descripcionItem : '' %></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <button type="button" class="btn btn-primary" id="registrar-meta"><small><span class="glyphicon glyphicon-ok"></span></small> <%= (curItem) ? 'Actualizar' : 'Registrar' %> Meta</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
