<% _.each(permisos, function(permiso) { %>
  <div class="row">
    <div class="col-sm-12 item-tick <%= permiso.tick ? ' do-tick' : '' %>" data-panel="permisos" data-permiso-id="<%= permiso.idPermiso %>"><%= permiso.nombre %></div>
  </div>
<% }) %>