<% _.each(roles, function(rol) { %>
  <div class="row">
    <div class="col-sm-12 item-tick <%= rol.idParametroDetalle == curIdRol ? ' do-tick' : '' %>" data-panel="roles" id="<%= rol.idParametroDetalle %>"><%= rol.nombre %></div>
  </div>
<% }) %>