<% _.each(vistas, function(vista) { %>
  <div class="row">
    <div class="col-sm-12 item-tick<%= idToFocus == vista.urlDescripcion ? ' do-tick item-tick-clicked' : vista.tick ? ' do-tick' : '' %>" data-panel="vistas" id="<%= vista.urlDescripcion.slice(1) %>"><%= vista.urlDescripcion %></div>
  </div>
<% }) %>