<div class="col-sm-2" style="width:100%">
  <% if (modSecurity.canEdit(curUrlDescripcion)) { %>
  <a href="" data-nivel-id="<%= idNivel %>" title="editar" class="obj-edit"><i class="fa fa-pencil"></i> Editar</a>
  <% } %>
  <% if (modSecurity.canDelete(curUrlDescripcion)) { %>
  <a href="" data-nivel-id="<%= idNivel %>" style="<%= modSecurity.canEdit(curUrlDescripcion) ? 'float:right' : '' %>" title="eliminar" class="obj-delete"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a>
  <% } %>
</div>