<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= curDescripcionNivel ? "ACTUALIZAR" : "REGISTRAR NUEVO" %> NIVEL</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="nivel" class="col-sm-5 control-label">NIVEL *:</label>
                <div class="col-sm-7">
                  <input type="hidden" id="idNivel" value="<%= (curDescripcionNivel) ? curDescripcionNivel.idNivel : '' %>">
                  <input type="text" id="nivel" class="form-control text-uppercase" value="<%= (curDescripcionNivel) ? curDescripcionNivel.idNivel : '' %>" placeholder="valor entero Ejm. 2" <%= (curDescripcionNivel) ? 'readonly' : '' %> >
                </div>
              </div>
              <div class="form-group">
                <label for="descripcion-nivel" class="col-sm-5 control-label">DESCRIPCIÓN DEL NIVEL *:</label>
                <div class="col-sm-7">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-nivel" cols="30" rows="3" placeholder="DESCRIPCIÓN DEL NIVEL Ejm. Objetivos Estratégicos"><%= (curDescripcionNivel) ? curDescripcionNivel.descripcionNivel : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="abreviatura" class="col-sm-5 control-label">ABREVIATURA:</label>
                <div class="col-sm-7">
                  <input type="text" id="abreviatura"  class="form-control text-uppercase" value="<%= (curDescripcionNivel) ? curDescripcionNivel.abreviatura : '' %>">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <img id="nivel-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-nivel"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar Nivel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
