<option value=""></option>
<%_.each(superintendencias, function(superintendencia) { %>
<option value="<%= superintendencia.idDependenciaOrganizacional %>"><%= superintendencia.descripcionDependencia %></option>
<% }) %>