<div class="row">
  <h3 class="col-sm-12 text-center">AVANCE DE INICIATIVAS POR SUPERINTENDENCIA</h3>
</div>
<div class="row">
  <div class="col-sm-6 form-horizontal">
    <div class="form-group">
      <label for="mostrar-ini-por" class="col-sm-4 control-label">VER SUPERINTENDENCIA:</label>
      <div class="col-sm-8">
        <select name="mostrar-ini-por" id="mostrar-ini-por" class="chosen-select">
          <option value="xgerencias">A PARTIR DE GERENCIAS</option>
          <option value="xsuperintendencias">MOSTRAR TODAS LAS SUPERINTENDENCIAS</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-horizontal">
    <div class="form-group">
      <label for="show-chart-by" class="col-sm-4 control-label"><img class="miloading" style="display:none;position:absolute;top:0;left:2em;" src="css/img/loading.gif">MOSTRAR GRÁFICO:</label>
      <div class="col-sm-8">
        <select name="show-chart-by" id="show-chart-by" class="chosen-select">
          <option value="ytd">YTD</option>
          <option value="xmes">POR MES</option>
          <option value="xmes_acumulado">POR MES ACUMULADO</option>
          <option value="anual">ANUAL</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row" id="row-gerencias">
  <div class="col-sm-6 form-horizontal" id="select-gerencias-sup-container">
    <div class="form-group">
      <label for="mostrar-ini-por" class="col-sm-4 control-label">ELEGIR GERENCIA:</label>
      <div class="col-sm-8">
        <select name="select-gerencias" id="select-gerencias" class="chosen-select">
        <%_.each(gerencias, function(gerencia) { %>
        <option value="<%= gerencia.idDependenciaOrganizacional %>"><%= gerencia.descripcionDependencia %></option>
        <% }) %>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 form-horizontal" id="select-superintendencias-sup-container">
    <div class="form-group">
      <label for="mostrar-ini-por" class="col-sm-4 control-label">ELEGIR SUPERINTENDENCIA:</label>
      <div class="col-sm-8">
        <select name="select-superintendencias" id="select-superintendencias" class="chosen-select">
        <%_.each(superintendencias, function(superintendencia) { %>
        <option value="<%= superintendencia.idDependenciaOrganizacional %>"><%= superintendencia.descripcionDependencia %></option>
        <% }) %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-horizontal" id="select-mes-container" style="display:none">
    <%= selectMonth%>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="chart-container">
  </div>
</div>