<div class="form-group">
  <label for="select-periodo" class="col-sm-4 control-label">PERIODO DE:</label>
  <div class="col-sm-8">
    <select name="select-periodo" id="select-periodo" class="chosen-select" data-placeholder="seleccione un periodo">
      <option value=""></option>
      <% _.each(periodos, function(periodo) { %>
        <option value="<%= periodo.mes %>"><%= periodo.descripcionMes %></option>
      <% }) %>
    </select>
  </div>
</div>