<div class="row">
  <h3 class="col-sm-12 text-center">TOP 10 <%= header %></h3>
</div>
<div class="row">
  <div class="col-sm-6 form-horizontal">
    <div class="form-group">
      <label for="show-chart-by" class="col-sm-4 control-label"><img class="miloading" style="display:none;position:absolute;top:0;left:2em;" src="css/img/loading.gif">MOSTRAR GRÁFICO:</label>
      <div class="col-sm-8">
        <select name="show-chart-by" id="show-chart-by" class="chosen-select">
          <option value="ytd">YTD</option>
          <option value="xmes">POR MES</option>
          <option value="anual">ANUAL</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-horizontal" id="select-mes-container">
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="chart-container"></div>
</div>
