<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= curProceso ? "ACTUALIZAR" : "REGISTRAR NUEVO" %> PROCESO</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <div class="form-group">
                <label for="descripcion-proceso" class="col-sm-5 control-label">CÓDIGO EXCEL DEL PROCESO *:</label>
                <div class="col-sm-7">
                  <input type="text" id="codProceso"  class="form-control" value="<%= (curProceso) ? curProceso.codProceso : '' %>">
                </div>
              </div>
              <div class="form-group">
                <label for="descripcion-proceso" class="col-sm-5 control-label">DESCRIPCIÓN DEL PROCESO *:</label>
                <div class="col-sm-7">
                  <input type="hidden" id="idProceso" value="<%= (curProceso) ? curProceso.idProceso : '' %>">
                  <textarea maxlength="100" class="form-control text-uppercase" id="descripcion-proceso" cols="30" rows="3" placeholder="DESCRIPCIÓN DEL proceso Ejm. Mina"><%= (curProceso) ? curProceso.descripcion : '' %></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" tabindex="-1" data-dismiss="modal">Cancelar</button>
        <img id="proceso-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-proceso"><small><span class="glyphicon glyphicon-ok"></span></small> Registrar proceso</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
