@import url(fonts.css);
body {
	font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	font-size: 13px;
	background-color: #fff;
}
.open-sans {
  font-family: "OpenSansRegular";
}
.league-gothic {
  font-family: "league-gothic";
}

.bg-blue {
	background-color: #C51230 !important;
	border-color: #FFFFFF !important;
}

.navbar-inverse {
	background-image: none;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	  background: #fff;
	  color: #C51230;
	  font-weight: 700;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
	background-image: none !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background: #EF0404;
}


.top-container {
	padding-top: 50px;
}
.no-border-left {
	border-left: none !important;
}

.no-border-right {
	border-right: none !important;
}

.border-left {
	border-left: 1px solid #ddd;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #C51230;
}

/* by dennisbot */
#contenedorLogin {
  margin: 0;
  padding: 0;
  background: #FFDFBD;
}
#formLogin .input-group,
#formLogin button {
  width: 100%;
}
#formLogin {
  border: 1px solid #ddd;
  padding: 8px 30px 15px 30px;
  background: white;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.imglogo {
  max-height: 60px;
}

.login .logo {
  padding: 15px;
  font-size: 23px;
}

.login .logo, .login .single-sign-on, .login .footer {
  margin: 0 auto;
  text-align: center;
}

.panel-sbc>.panel-heading {
  color: #fff;
  background-color: #C51230;
  border-color: #C51230;
}
.panel-sbc {
  border-color: #C51230
}

.panel-acciones-item-action {
  padding: 10px;
  padding-right: 0;
  text-align: center;
}
.item-escritorio {
  font-size: 6em  ;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  float: none;
}
button.item-escritorio {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  margin: 0 60px;
}

#nuevo-item-action span {
  color: blue;
  font-size: 1.4em
}

#eliminar-item-action span {
  color: red;
  font-size: 1.4em
}


#mainContainer {
    border-left: 1px solid #ddd;
}


.btn.btn-success:focus {

}
/* colores para los encabezados de las tablas */
.color-descripcion-comportamiento {
  background-color: rgb(255, 242, 0);
}
.color-seguro {
  background-color: #99FF99;
}
.color-riesgoso {
  background-color: #FF9999;
}
.color-pcel {
background-color: #ffcc33;
}
.color-obstaculo {
  background-color: rgb(106, 186, 255);
}
.panel-encabezado-cartilla {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
#mensaje-exito {
  text-align: center;
  text-transform: uppercase;
}
.miloading {
  margin: 9px;
  font-weight: bold;
}

.chosen-container .chosen-results {
   max-height:120px !important;
}


.menu-sbc a {
  cursor: pointer;
}

.handsontable .btn {
  line-height: 21px;
}

.contenedor-mantenimiento {
    position: relative;
    padding: 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
.contenedor-mantenimiento:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*content: "MANTENIMIENTO";*/
}
.contenedor-mantenimiento>h2 {
  text-transform: uppercase;
  color: #919191;
}
@media (min-width: 768px)
.contenedor-mantenimiento {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.handsontableInput {
  text-transform: uppercase;
}

.handsontable .htCore {
  text-transform: uppercase
}

.item-action-field {
  text-transform: uppercase;
}
.dataTable thead tr {
  height: 30px;
}
.dataTable thead tr th {
  vertical-align: middle;
}
.modal .modal-dialog {
  width:50%;
}
.datepicker {z-index: 1151 !important;}

.dataTable > thead > tr > th:last-child {
  width:60px;
}
.navbar-inverse
.navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #C51230;
  /*font-weight: 700;*/
  background-color: white;
}
#username {
  text-transform: uppercase;
}
#username span {
  font-weight: bold;
}

.fotos img {
      border: 3px groove black;
}
#calendar {
  width: 100%;
  margin: 20px auto 0;
}
#calendar .fc-center {
  text-transform: capitalize;
}
#calendar table .fc-event {
  cursor: pointer;
}
td.details-control {
    background: url('../DataTables-1.10.9/media/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../DataTables-1.10.9/media/images/details_close.png') no-repeat center center;
}
.fa.fa-remove:hover {
  color: white !important;
  background: red !important;
}
.highlight {
  color: blue;
  background-color: yellow;
}
.editinplace {
  cursor: pointer;
}
.show-grid {
    margin-bottom: 15px;
}
.brand {
  margin: -4px 5px;width: 28px;float: left
}
::selection {
  background-color: #C51230;
  color: white;
}
:focus, a:focus, .btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    /*outline-color: #EC0808;*/
    outline-color: #E9A566;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active,
.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EC3A3A;
    border-color: #EC3A3A;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #F5EDED;
}

.form-control:focus {
    border-color : #D8C7B4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
}
/*.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #FFECEC;
  border-color: #FBC6C6;
}*/
.form-control {
    background-color: #FFFDFD;
    border: 1px solid #D8C7B4;
    color: #4C0808;
}

body {
  /*color : #4C0808;*/
}
.btn-default {
  color : #4C0808;
  border-color: #D8C8B9;
}
.btn-default.active, .btn-default.focus, .btn-default:active,
.btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color : #4C0808;
    background-color: #FFEFDE;
    border-color: #EFC89D;
}
legend {
  color : #A73030;
  border-bottom: 1px solid #DCBFA8;
}
table.table-bordered {
  border: 1px solid #DCBFA8;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FFEFDE;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #DCBFA8;
}
.chosen-container {
    border: 1px solid #D0BBBB;
}
.chosen-container-single .chosen-single {
  color : #4C0808;
  border : none;
}
.qq-upload-button {
}
a {
  color : #C51230;
}
a:focus, a:hover {
    font-weight: bold;
    color : #C51230;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border : none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #FFEFDE;
}
table.table td[colspan="2"],
table.table td[colspan="3"],
table.table td[colspan="4"],
table.table td[colspan="5"],
table.table td[colspan="6"] {
  background: white;
}
.progress {
  background-color : #FFE5CB;
}
.item-tick {
  cursor : pointer;
  padding: 4px;
}
.item-tick:hover, .do-tick {
  background: #FF9;
}
.item-tick-clicked {
  background-color: #FFDD00;
}
.item-tick-clicked:hover {
  background-color: #FFDD00;
}
.imagen-fondo {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
#container {
  position: absolute;
  height: 87%;
}
.espacio-op-item-est {
  margin-left : 40px;
}
#download-params {
    font-size: 0.5em;
    vertical-align: middle;
    float: right;
    padding: 8px;
}