<% if (canShowUploadLink) { %>
<div class="col-sm-2" style="width:100%"><span class="pull-left"><a href="upload/<%= idArchivo %>" title="ver / Descargar archivo" class="obj-download" target="_blank"><i class="fa fa-download"></i> Ver / Descargar </a></span><span class="pull-right"><a href="" data-archivo-id="<%= idArchivo %>" style="float:right" title="eliminar" class="obj-delete"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a></span></div>
<% } else { %>
<div class="col-sm-2" style="width:100%"><a href="upload/<%= idArchivo %>" title="ver / Descargar archivo" class="obj-download" target="_blank"><i class="fa fa-download"></i> Ver / Descargar </a></div>
<% } %>