<table class="table table-bordered table-striped table-condensed data-table-container" id="ver-adjuntos-table" style="visibility:hidden">
  <thead>
    <th>NOMBRE DEL ARCHIVO</th>
    <th>TAMAÑO</th>
    <th>TIPO</th>
    <th class="text-center">OPERACIONES</th>
  </thead>
</table>