<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">ARCHIVOS ADJUNTOS DEL PERIODO <strong><%= meta.periodo.descripcionMes + ' DEL ' + parametros.curPlanEstrategico.anio %></strong></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">ESTE PERIODO PERTENECE A LA INICIATIVA DE:</label>
            <div class="col-sm-8">
              <p class="form-control-static"><%= iniciativa.descripcionItem %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">COMENTARIOS OPCIONALES:</label>
              <div class="col-sm-8"><p style="padding: 7px 0px 10px 10px" class="form-control-static<%= showUploadLink ? ' editinplace' : ''%>" id="meta-comentario-<%= meta.idItemEstrategico %>"><%= meta && meta.comentarios ? meta.comentarios : 'Haga click aquí para añadir comentarios (presione tab para confirmar)' %></p></div>
          </div>
        <% if (showUploadLink) { %>
          <div class="row show-grid">
            <div id="fine-uploader-meta-<%= meta.idItemEstrategico %>"></div>
          </div>
        <% } %>

          <div class="row">
            <div class="col-sm-12" id="archivo-container">
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->