<table class="table table-bordered table-striped table-condensed data-table-container">
  <thead>
    <th class="text-center">NIVEL</th>
    <th>DESCRIPCIÓN DE LA INICIATIVA</th>
    <th>DEPENDENCIA / SUPERINTENDENCIA</th>
    <th class="text-center">OPERACIONES</th>
  </thead>
</table>