<div class="form-group can-update" id="item-estrategico-<%= itemEstrategicoTempId %>" data-item-estrategico-id="<%= itemEstrategicoTempId %>">
 <label class="col-sm-3 control-label"><%= selectedPeriodo.abreviaturaMes + "-" + curYear %></label>
  <div class="col-sm-2">
    <input type="number" class="form-control" value="">
  </div>
  <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-item-estrategico-id="<%= itemEstrategicoTempId %>" data-periodo-id="<%= selectedPeriodo.idPeriodo %>"></i></div>
</div>