<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"> <%= (curItem) ? 'ACTUALIZAR' : 'REGISTRAR NUEVA' %> INICIATIVA</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="alert alert-warning" role="alert">
                <strong>!tener en cuenta que!</strong> los campos con * son obligatorios.
              </div>
              <% _.each(items, function(item) { %>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= item.descripcionNivel.descripcionNivelSingular %></label>
                <div class="col-sm-9">
                  <p class="form-control-static"><%= item.descripcionItem %></p>
                </div>
              </div>
              <%}) %>
              <div class="form-group">
                <label for="descripcion-iniciativa" class="col-sm-3 control-label">DESCRIPCIÓN DE LA INICIATIVA *:</label>
                <div class="col-sm-9">
                  <input type="hidden" id="idItemEstrategico" value="<%= (curItem) ? curItem.idItemEstrategico : '' %>">
                  <textarea name="" class="form-control text-uppercase" id="descripcion-iniciativa" cols="30" rows="5" placeholder="DESCRIPCIÓN DE LA INICIATIVA"><%= (curItem) ? curItem.descripcionItem : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="comentarios-iniciativa" class="col-sm-3 control-label">COMENTARIOS:</label>
                <div class="col-sm-9">
                  <textarea name="" class="form-control text-uppercase" id="comentarios-iniciativa" cols="30" rows="3" placeholder="COMENTARIOS OPCIONALES VAN AQUÍ"><%= (curItem && curItem.comentarios) ? curItem.comentarios.trim() : '' %></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="select-superintendencia" class="col-sm-3 control-label">SUPERINTENDENCIA DE *:</label>
                <div class="col-sm-9">
                  <select class="chosen-select" id="select-superintendencia">
                    <option></option>
                  <% _.each(superintendencias, function(superintendencia) { %>
                    <option value="<%= superintendencia.idDependenciaOrganizacional %>" <%= (curItem && curItem.dependenciaOrganizacional.idDependenciaOrganizacional == superintendencia.idDependenciaOrganizacional) ? 'selected' : '' %> > <%= superintendencia.descripcionDependencia %> </option>
                  <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="select-categoria" class="col-sm-3 control-label">PERTENECE A LA CATEGORÍA DE *:</label>
                <div class="col-sm-9">
                  <select class="chosen-select" id="select-categoria">
                    <option></option>
                  <% _.each(categorias, function(categoria) { %>
                    <option value="<%= categoria.idCategoria %>" <%= (curItem && curItem.categoria.idCategoriaParent == categoria.idCategoria) ? 'selected' : '' %> > <%= categoria.toShow %> </option>
                  <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group subcategorias">
              </div>
            </div>
            <div class="form-horizontal">
              <fieldset>
                <legend>KPI</legend>
                <div class="form-group">
                  <label for="nombre-plan" class="col-sm-3 control-label">KPI *:</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">
                      <input type="hidden" id="idMetrica" value="<%= (curItem && curItem.metrica) ? curItem.metrica.idMetrica : '' %>">
                      <span id="selected-metrica"><%= (curItem && curItem.metrica) ? curItem.metrica.descripcionMetrica : '' %></span> - <a href="#" id="select-metrica">Seleccionar <%= (curItem && curItem.metrica) ? 'otro' : '' %> KPI</a>
                    </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="tolerancia" class="col-sm-3 control-label">% DE TOLERANCIA *:</label>
                  <div class="col-sm-9">
                    <input type="number" min="0" max="100" class="form-control" id="tolerancia" value="<%= (curItem && curItem.tolerancia) ? curItem.tolerancia : '' %>">
                  </div>
              </div>
              </fieldset>
            </div>
            <div class="form-horizontal" style="display: <%= (curItem && curItem.itemEstrategicos && curItem.itemEstrategicos.length) ? 'block' : 'none' %>" id="show-periodos">
              <fieldset>
                <legend>Metas para el año <%= curYear %></legend>
                <div class="form-group">
                  <label for="nombre-plan" class="col-sm-3 control-label">SELECCIONE UN PERIODO *:</label>
                  <div class="col-sm-9" id="select-periodo-container">
                    <select class="chosen-select" id="select-periodo">
                      <option></option>
                    <% _.each(periodos, function(periodo) { %>
                      <option value="<%= periodo.idPeriodo %>"><%= periodo.descripcionMes + "-" + curYear.toString().substr(2) %></option>
                    <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><strong>PERIODO</strong></label>
                  <div class="col-sm-2">
                    <p class="form-control-static"><strong>META (en KPIs)</strong></p>
                  </div>
                </div>
                <div id="periodos-container">
                  <% if (curItem && curItem.itemEstrategicos) { %>
                  <% _.each(curItem.itemEstrategicos, function(itemEstrategico) { %>
                  <div class="form-group<%= (itemEstrategico.valorReal == 0) ? ' can-update' : '' %>" id="item-estrategico-<%= itemEstrategico.idItemEstrategico %>" data-item-estrategico-id="<%= itemEstrategico.idItemEstrategico %>">
                    <label class="col-sm-3 control-label"><%= itemEstrategico.periodo.abreviaturaMes + "-" + curYear %></label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" value="<%= itemEstrategico.valorPlaneado %>" <%= (itemEstrategico.valorReal != 0) ? 'disabled' : '' %>>
                    </div>
                    <% if (itemEstrategico.valorReal == 0) { %>
                    <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-item-estrategico-id="<%= itemEstrategico.idItemEstrategico %>" data-periodo-id="<%= itemEstrategico.periodo.idPeriodo %>"></i></div>
                    <% } %>
                  </div>
                  <% }) %>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="select-responsable" class="col-sm-4 control-label">RESPONSABLE(S) *:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" id="add-responsable">Añadir responsable</a></p>
                  </div>
                </div>
                <div class="form-group">
                    <div class="responsables">
                    </div>
                </div>
                <div class="form-group">
                  <label for="select-keyuser" class="col-sm-4 control-label">KEYUSER *:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" id="add-keyuser">Añadir KeyUser</a></p>
                  </div>
                </div>
                <div class="form-group">
                    <div class="keyuser">
                      <% if (curItem && curItem.idKeyuser) { %>
                      <div style="padding-bottom: 10px" class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                          <select class="chosen-select" id="select-keyuser">
                          <option></option>
                          <% _.each(empleados, function(empleado) { %>
                            <option value="<%= empleado.idEmpleado %>" <%= (curItem.idKeyuser == empleado.idEmpleado) ? 'selected' : '' %> > <%= empleado.nombreParaMostrar %> </option>
                          <% }) %>
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-keyuser-id="<%= curItem.idKeyuser %>" id="remove-keyuser"></i></div>
                        </div>
                      </div>
                      <% } %>
                    </div>
                </div>
                <div class="form-group">
                  <label for="select-supervisor" class="col-sm-4 control-label">¿QUIÉN SUPERVISA? *:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" id="add-supervisor">Añadir supervisor de esta iniciativa</a></p>
                  </div>
                </div>
                <div class="form-group">
                    <div class="supervisor">
                      <% if (curItem && curItem.idSupervisor) { %>
                      <div style="padding-bottom: 10px" class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                          <select class="chosen-select" id="select-supervisor">
                          <option></option>
                          <% _.each(empleados, function(empleado) { %>
                            <option value="<%= empleado.idEmpleado %>" <%= (curItem.idSupervisor == empleado.idEmpleado) ? 'selected' : '' %> > <%= empleado.nombreParaMostrar %> </option>
                          <% }) %>
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-supervisor-id="<%= curItem.idSupervisor %>" id="remove-supervisor"></i></div>
                        </div>
                      </div>
                      <% } %>
                    </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="-1">Cancelar</button>
        <img id="item-estrategico-loading" style="display: none; margin:8px" src="css/img/loading.gif">
        <button type="button" class="btn btn-primary" id="registrar-iniciativa"><small><span class="glyphicon glyphicon-ok"></span></small> <%= (curItem) ? 'Actualizar' : 'Registrar' %> Iniciativa</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
