<div style="padding-bottom: 10px" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <select class="chosen-select" id="select-supervisor">
    <option></option>
    <% _.each(empleados, function(empleado) { %>
      <option value="<%= empleado.idEmpleado %>" <%= (idEmpleado && idEmpleado == empleado.idEmpleado) ? 'selected' : '' %> > <%= empleado.nombreParaMostrar %> </option>
    <% }) %>
    </select>
  </div>
  <div class="col-sm-2">
    <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-supervisor-id="<%= idTemp %>" id="remove-supervisor"></i></div>
  </div>
</div>