<select class="chosen-select" id="select-periodo">
  <option></option>
<% _.each(periodos, function(periodo) { %>
  <option value="<%= periodo.idPeriodo %>"><%= periodo.descripcionMes + "-" + curYear.toString().substr(2) %></option>
<% }) %>
</select>