<div style="padding-bottom: 10px" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <select class="chosen-select" id="select-keyuser">
    <option></option>
    <% _.each(keyusers, function(keyuser) { %>
      <option value="<%= keyuser.idEmpleado %>" <%= (idEmpleado && idEmpleado == keyuser.idEmpleado) ? 'selected' : '' %> > <%= keyuser.nombreParaMostrar %> </option>
    <% }) %>
    </select>
  </div>
  <div class="col-sm-2">
    <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" data-keyuser-id="<%= idTemp %>" id="remove-keyuser"></i></div>
  </div>
</div>