<label for="select-categoria" class="col-sm-3 control-label">SIGNIFICANCIA *:</label>
<% _.each(pesos, function(peso) { %>
<div class="col-sm-2">
  <div class="form-group">
    <label for="subcategoria" class="col-sm-12 text-center"><%= peso.significancia.toString().toUpperCase() %> *:</label>
    <div class="col-sm-12 text-center">
      <div class="radio">
        <label><input type="radio" name="subcategoria" id="subcategoria-<%= peso.idCategoria %>" value="<%= peso.idCategoria %>" <%= (categoria && categoria.idCategoria == peso.idCategoria) ? 'checked' : peso.significancia.toString().toUpperCase() == "BAJO" ? 'checked' : '' %>><%= peso.peso %></label>
      </div>
    </div>
  </div>
</div>
<% }) %>