<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal2" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">SELECCIONAR UN KPI</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 form-horizontal">
            <div class="form-group">
              <label for="mostrar-kpis-por" class="col-sm-4 control-label">MOSTRAR KPIs:</label>
              <div class="col-sm-8">
                <select name="mostrar-kpis-por" id="mostrar-kpis-por" class="chosen-select">
                  <option value="">TODOS</option>
                  <option value="xproceso">POR PROCESO</option>
                  <option value="xsubproceso">POR SUB PROCESO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-horizontal" id="select-procesos-container">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 form-horizontal" id="select-subprocesos-container">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="kpis-container">
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->