<div class="progress" style="margin:0">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= avance %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= avance > 100 ? 100 : avance %>%;min-width: 2em;<%= style%>">
    <%= avance %>%
  </div>
</div>