<div class="row">
  <h3 class="col-sm-12 text-center">CONTROL DE INICIATIVAS</h3>
</div>
<div class="row">
  <div class="col-sm-6 form-horizontal">
    <div class="form-group">
      <label for="mostrar-ini-por" class="col-sm-4 control-label">MOSTRAR INICIATIVAS:</label>
      <div class="col-sm-8">
        <select name="mostrar-ini-por" id="mostrar-ini-por" class="chosen-select">
          <option value="">TODAS LAS INICIATIVAS</option>
          <option value="xgerencias">POR GERENCIAS</option>
          <option value="xsuperintendencias">POR SUPERINTENDENCIAS</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-horizontal" id="select-gerencias-sup-container">
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-6 form-horizontal" id="select-superintendencias-container">
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="item-estrategico-container">
  </div>
</div>
