<table class="table table-bordered table-striped table-condensed data-table-container">
  <thead>
    <th></th>
    <th>DESCRIPCIÓN DE LA INICIATIVA</th>
    <th>DEPENDENCIA / SUPERINTENDENCIA</th>
    <th>AVANCE</th>
  </thead>
</table>