<fieldset>
  <legend>Jerarquía / Dependencias </legend>
  <div class="row">
  <% _.each(_.first(curItem.hierachy, 2), function(itemEstrategico) { %>
    <div class="col-sm-6"><p><strong><%= itemEstrategico.descripcionNivel.idNivel + '.- ' + itemEstrategico.descripcionNivel.descripcionNivelSingular %> :</strong></p><p><%= itemEstrategico.descripcionItem %></p></div>
  <% }) %>
  </div>
  <div class="row">
    <% _.each(_.last(curItem.hierachy, 1), function(itemEstrategico) { %>
    <div class="col-sm-6"><p><strong><%= itemEstrategico.descripcionNivel.idNivel + '.- ' + itemEstrategico.descripcionNivel.descripcionNivelSingular %> :</strong></p><p><%= itemEstrategico.descripcionItem %></p></div>
  <% }) %>
    <div class="col-sm-6"><p><strong>4.- DESCRIPCIÓN DE ESTA INICIATIVA:</strong></p><p><%= curItem.descripcionItem %></p></div>
  </div>
</fieldset>
<fieldset>
  <legend>Responsable(s)</legend>
  <% var even = true %>
  <% _.each(_.first(curItem.responsables, curItem.responsables.length), function(responsable) { %>
    <%= (even) ? '<div class="row">' : ''  %>
    <div class="col-sm-6"><p>* <%= getNombreParaMostrar(responsable.idResponsable) %></p></div>
    <%= (!even) ? '</div>' : ''  %>
    <% even = !even %>
  <% }) %>
  <%= (!even) ? '</div>' : '' %>
</fieldset>
<fieldset>
  <legend>Detalle de esta Iniciativa</legend>
  <div class="row">
    <div class="col-sm-4"><p><strong>KPI:</strong></p><p><%= curItem.metrica.descripcionMetrica %></p></div>
    <div class="col-sm-3"><p><strong>Unidad de Medida:</strong></p><p><%= curItem.metrica.unidadMedida %></p></div>
    <div class="col-sm-2"><p><strong>% tolerancia:</strong></p><p><%= curItem.tolerancia %>%</p></div>
  </div>
  <div class="row">
    <div class="col-sm-6"><p><strong>Definición:</strong></p><p><%= curItem.metrica.definicionExplicacion %></p></div>
    <div class="col-sm-6"><p><strong>Fórmula:</strong></p><p><%= curItem.metrica.formula %></p></div>
  </div>
  <div class="row">
    <div class="col-sm-6"><p><strong>Categoría:</strong> <%= categoria.descripcionCategoria %></p><p>
      <% _.each(categoria.subcategorias, function(subcategoria) { %>
      <%= subcategoria.significancia != "BAJO" ? ' - ' : '' %><span <%= curItem.categoria.idCategoria == subcategoria.idCategoria ? 'style="background:#C51230;color:white;padding:5px;border-radius:12px !important"' : '' %>><%= subcategoria.peso %></span>
      <% }) %>
    </p></div>
    <div class="col-sm-3" id="ytd-<%= curItem.idItemEstrategico %>"><p><strong>Avance YTD - <%= parametros.curPlanEstrategico.anio %>:</strong></p>
      <%= modProgressBar.getInstance(4, curItem).draw() %></div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <fielset>
        <legend style="font-size:inherit"><strong id="metas-<%= curItem.idItemEstrategico %>" style="font-size:21px">Metas</strong></legend>
        <table class="table table-bordered table-striped table-condensed data-table-container">
        <thead>
          <th colspan="2" class="text-center" style="width:14%">PERIODO</th>
          <th class="text-center" style="width:13%">PLANEADO</th>
          <th class="text-center" style="width:13%">REAL</th>
          <th class="text-center" style="width:31%">AVANCE</th>
          <th class="text-center">OPERACIONES</th>
        </thead>
        <% var odd = false, index = 0; %>
        <% _.each(curItem.itemEstrategicos, function(meta) { %>
        <% var edit = meta.periodo.mes == curPeriodo || true %>
        <tr class="<%= odd ? 'odd' : 'even' %>">
          <% odd = !odd %>
          <td class="text-center"><%= parametros.curPlanEstrategico.anio %></td>
          <td><%= meta.periodo.abreviaturaMes %></td>
          <td class="text-center"><%= meta.valorPlaneado %></td>
          <td class="text-center<%= edit && canEdit ? ' editinplace' : '' %>" data-index="<%= index++ %>" data-iniciativa-id="<%= curItem.idItemEstrategico %>" data-meta-id="<%= meta.idItemEstrategico %>" id="<%= modUtils.uniqueID() %>"><%= meta.valorReal == 0 ? "-" : meta.valorReal %></td>
          <td><%= modProgressBar.getInstance(5, meta).draw() %></td>
          <td class="text-center"><a href="#" id="editar-ver-adjuntos-<%= meta.idItemEstrategico %>"><%= edit && canEdit ? 'Adjuntar Archivos / Evidencias' : 'Ver Adjuntos / Evidencias' %></a></td>
        </tr>
        <% }) %>
        </table>
      </fielset>
    </div>
  </div>
</fieldset>