#new-inspeccion-details, .form-add-inspeccion {
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 15px 15px;
}

.form-add-inspeccion > h5{
  margin: 0 0 15px;
}

#add-hallazgo {
  margin-top: 15px;
}

.inspecciones-container {
  margin: 15px 0;
}

.inspecciones-container .panel {
  margin: 0;
}
.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
  color: #fff;
}

.inspecciones-container .panel-heading {
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
}
.inspecciones-container .panel-heading .panel-title ,
.inspecciones-container .panel-heading .panel-title a
{
  font: inherit;
}
.inspecciones-container .panel-heading .panel-title {
  max-width: 700px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.inspecciones-container .panel-heading .panel-title a {
  display:inline;
  line-height:1;
}

.inspecciones-container .panel-heading a.btn-default {
  margin: 0 10px;
}
.inspecciones-container .panel-heading a.btn-default:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  /*float: right;*/
  color: grey;
}
.inspecciones-container .panel-heading a.btn-default.collapsed:after {
    content:"\e080";
}
.panel-default {
  border-color: transparent;
}
.inspecciones-container textarea,
.modal textarea,
.lugar-trabajo {
  text-transform: uppercase;
}

#itemActionsContainer .chosen-container {
  display: block;
  width: 100% !important;
}
.tipo-comportamiento {
  margin: 20px 0;
}

/*.inspecciones-container label.control-label {
  text-align: left;
  padding-left: 0;
}*/
.notificar-inspecciones {
  margin-bottom: 90px;
}