@import url(../fonts.css);
body {
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 13px;
    background-color: #fff;
}

#contenedor-select-plan {
  margin: 0;
  padding: 0;
  background: #FFDFBD;
}

#form-plan-anual {
  border: 1px solid #D0BBBB;
  padding: 8px 30px 15px 30px;
  background: white;
  position: relative;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.imglogo {
  max-height: 60px;
}

.select-plan .logo {
  padding: 15px;
  font-size: 23px;
}

.select-plan .logo, .select-plan .single-sign-on, .select-plan .footer {
  margin: 0 auto;
  text-align: center;
}
#nombre_plan {
  cursor: pointer;
}