#new-programacion-details, .form-add-programacion {
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 15px 15px;
}
.details-inspeccion.header {
    border-top: 1px dotted #ccc;
    padding-top: 10px;
}
.details-inspeccion {
    margin-top: 12px;
}
.col-borrar {
    border-left: 1px solid #ccc;
}