<button class="btn btn-default add-new-item" data-level="<%= level %>" data-item-estrategico-id="<%= (curItem) ? curItem.idItemEstrategico : 0%>"><span class="glyphicon glyphicon-plus"></span> <span id="new-item-text"></span><%= newItemText %></button>