<% _.each(items, function(item) { %>
<div class="tag form-group" style="display:block;color:<%= item.descripcionNivel.foreColor %>;border-bottom:1px solid <%= item.descripcionNivel.backgroundColor%>">
  <label class="col-sm-2 control-label" style="position:relative;color:<%= item.descripcionNivel.foreColor %>"><div style="position: absolute;background:<%= item.descripcionNivel.backgroundColor%>;width:1px;height:120%;"></div><%= item.descripcionNivel.descripcionNivelSingular %>:</label><div class="col-sm-10"><p class="form-control-static"><%= item.descripcionItem %><% if (level - 1 == item.descripcionNivel.idNivel && showClose) { %><a class="remove-cur-detailed-item"><i data-toggle="tooltip" data-title="quitar" class="remove glyphicon glyphicon-remove-sign glyphicon-white pull-right" data-id-item-estrategico="<%= item.idItemEstrategico %>" data-level="<%= item.descripcionNivel.idNivel%>"></i></a><% } %></p></div></div>
<% }) %>