<ol class="breadcrumb" id="breadcrumb-list">
  <% _.each(levels, function(level) { %>
    <% if (level.get('idNivel') <= curLevel ) { %>
    <li class="active"><strong style="font-size:1.2em"><%= level.get('descripcionNivel') %></strong></li>
    <% } %>
  <% }) %>
</ol>
<div id="detailed-depth" class="col-sm-12 form-horizontal" style="margin-bottom:15px"></div>
<div class="row">
  <div class="col-sm-12" id="item-estrategico-container">
  </div>
</div>