<ol class="breadcrumb" id="breadcrumb-list">
  <% _.each(levels, function(level) { %>
  <% if (curLevel > level.get('idNivel') ) { %>
    <li>
      <a href="#" data-nivel-id="<%= level.get('idNivel') %>" class="hierachy"><%= level.get('descripcionNivel') %></a>
    </li>
  <% } else if (level.get('idNivel')  == curLevel) { %>
    <li class="active">
      <strong style="font-size: 1.2em; color:#C51230"><%= level.get('descripcionNivel') %></strong>
    </li>
  <% } %>
  <% }) %>
  <div style="float:right;font-size:1.1em;font-weight:bold"><a href="#" id="buscar-item-estrategico" title="hotKey: Alt + P" data-toggle="tooltip" data-placement="left"><i class="fa fa-search"></i> buscar ...</a></div>
</ol>
<div id="detailed-depth" class="col-sm-12 form-horizontal" style="margin-bottom:15px"></div>
<div class="row">
  <div class="col-sm-12" id="item-estrategico-container">
  </div>
</div>
