<ol class="breadcrumb" id="breadcrumb-list">
</ol>
<div id="detailed-depth" class="col-sm-12 form-horizontal" style="margin-bottom:15px"></div>
<div class="row">
  <div class="col-sm-12" id="item-estrategico-container">
  </div>
</div>