<% if (nivelDependencia >= 4 && level >= 3 && level < 5) { %>
<div class="col-sm-12 btn-group" style="margin: 15px 0;" id="mostrar-por">
    <button class="btn btn-default<%= !picked || picked == 'todos' ? ' active' :'' %>" id="todos">Todos</button>
  <button class="btn btn-default<%= picked == 'mi-gerencia' ? ' active' :'' %>" id="mi-gerencia">de mi gerencia</button>
  <% if (nivelDependencia >= 5 && level == 4) { %>
  <button class="btn btn-default<%= picked == 'mi-superintendencia' ? ' active' :'' %>" id="mi-superintendencia">de mi superintendencia</button>
  <% } %>
</div>
<% } %>
