<div class="col-sm-2" style="width:100%"><a href="" data-item-estrategico-id="<%= idItemEstrategico %>" title="seleccionar" class="obj-select">Seleccionar <i class="fa fa-hand-pointer-o"></i></a></div>