<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal3" tabindex="-1">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">BUSCAR ITEM ESTRATÉGICO</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="search-term" class="col-sm-2 control-label">TÉRMINO A BUSCAR:</label>
                <div class="col-sm-10"><input type="text" id="search-term" class="form-control" placeholder="eg. incremento de la producción"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12" id="div-table-search-container" style="display:none">
            <table class="table table-bordered table-striped table-condensed data-table-container" id="table-result-search-item-estrategico">
              <thead>
                <th></th>
                <th>NIVEL</th>
                <th>DESCRIPCIÓN DEL OBJETIVO ESTRATÉGICO</th>
                <th>DEPENDENCIA</th>
                <th class="text-center">OPERACIONES</th>
              </thead>
            </table>
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->