<div style="padding-bottom: 10px" class="responsable row">
  <div class="col-sm-8 col-sm-offset-2">
    <select class="chosen-select" id="select-responsable-<%= idTempResponsable %>">
    <option></option>
    <% _.each(responsables, function(curResponsable) { %>
      <option value="<%= curResponsable.idEmpleado %>" <%= (idEmpleado && idEmpleado == curResponsable.idEmpleado) ? 'selected' : '' %> > <%= curResponsable.nombreParaMostrar %> </option>
    <% }) %>
    </select>
  </div>
  <div class="col-sm-2">
    <div class="col-borrar" style="display:table; height:34px"><i class="fa fa-remove" title="quitar" style="vertical-align: middle; font-size: 20px;padding: 2px 8px; cursor: pointer;display:table-cell;" id="remove-responsable-<%= idTempResponsable%>" data-responsable-id="<%= idTempResponsable %>"></i></div>
  </div>
</div>